html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

// body{
//     height: 4000px;
// }
@font-face {
    font-family: "Montserrat-Semi-Bold";
    src: url("../fonts/Montserrat-SemiBold.otf")
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.otf")
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Medium.otf")
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.otf")
}

@font-face {
    font-family: "Montserrat-Thin";
    src: url("../fonts/Montserrat-Thin.otf")
}

#thank {

    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0 0 9px 0 rgba(173, 173, 173, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-position-x: 0;
    padding: 90px 70px;
    width: 36%;

    .close_thank {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }

    .title {
        text-align: center;

        h1 {
            font-family: "Montserrat-Semi-Bold";
            font-size: 28px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.9px;
            text-align: center;
            color: #bc9460;
        }

        p {
            font-family: "Montserrat-Medium";
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.7px;
            text-align: center;
            color: #585655;
            margin-top: 10px;
        }
    }
}

.margin_0 {
    margin-top: 0 !important;
}

.back_video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #000000;
}

#index_header {
    .logo {
        margin-top: 20px;

        img {
            width: 104px;
        }
    }

    .menu {
        margin-top: 110px;

        .main_ul {
            display: flex;
            justify-content: space-between;
            list-style: none;

            li.drop_down {
                position: relative;

                .sub_menu {
                    z-index: 99;
                    display: none;
                    position: absolute;
                    width: 300px;
                    background-color: white;
                    border: solid 1px #bc9460;
                    border-radius: 6px;
                    left: 50%;
                    top: 40px;
                    transform: translateX(-50%);

                    .top {
                        border: 1px solid #bc9460;
                        border-right: 0;
                        border-bottom: 0;
                        width: 20px;
                        height: 20px;
                        background-color: white;
                        position: absolute;
                        top: -10px;
                        left: 50%;
                        transform: translateX(-50%) rotate(45deg)
                    }

                    ul {
                        list-style: none;
                    }

                    li {
                        border-bottom: 1px solid #bc9460;

                        &:last-child {
                            border: none;
                        }

                        a {
                            display: block;
                            padding-left: 26px;
                            padding-bottom: 16px;
                            padding-top: 16px;
                            text-decoration: none;
                            font-family: "Montserrat-Regular";
                            font-size: 14px;
                            font-weight: 500;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: 1.2px;
                            color: #bc9460;
                        }
                    }
                }
            }

            li {
                a {
                    text-decoration: none;
                    font-family: "Montserrat-Bold";
                    font-size: 14px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 1.2px;
                    color: #ffffff;

                    span {
                        position: absolute;
                        right: -14px;
                        top: -2px;
                    }
                }
            }
        }
    }
}

#inner_header {
    padding: 38px 0;
    background-color: #571b1f;
    border-bottom: 1px solid #ac925d;

    .menu {
        .main_ul {
            display: flex;
            justify-content: space-between;
            list-style: none;

            .drop_down {
                position: relative;

                a i {
                    margin-left: 6px;
                }

                .sub_menu {
                    // display: none;
                    z-index: 99;
                    display: none;
                    position: absolute;
                    width: 300px;
                    background-color: white;
                    border: solid 1px #bc9460;
                    border-radius: 6px;
                    left: 50%;
                    top: 40px;
                    transform: translateX(-50%);

                    .top {
                        border: 1px solid #bc9460;
                        border-right: 0;
                        border-bottom: 0;
                        width: 20px;
                        height: 20px;
                        background-color: white;
                        position: absolute;
                        top: -10px;
                        left: 50%;
                        transform: translateX(-50%) rotate(45deg);
                    }

                    ul {
                        li {
                            display: block;
                            border-bottom: 1px solid #bc9460;

                            &:last-child {
                                border-bottom: 0;
                            }

                            a {
                                display: block;
                                padding-left: 26px;
                                padding-bottom: 16px;
                                padding-top: 16px;
                                text-decoration: none;
                                font-family: "Montserrat-Regular";
                                font-size: 14px;
                                font-weight: 500;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: 1.2px;
                                color: #bc9460;
                            }
                        }
                    }
                }
            }

            li {
                a.active {
                    opacity: .5;
                }

                a {
                    text-decoration: none;
                    font-family: "Montserrat-Regular";
                    font-size: 14px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 1.2px;
                    text-align: left;
                    color: #efdfbb;
                }
            }
        }
    }
}

#index_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .desc {
        text-align: center;

        h1 {
            font-family: "Montserrat-Bold";
            font-size: 50px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.7px;
            text-align: center;
            color: #b3a08c;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        }

        p {
            font-family: "Montserrat-Medium";
            width: 456px;
            font-size: 30px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            letter-spacing: 1px;
            text-align: center;
            color: #ffffff;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            margin: auto;
            margin-top: 50px;
        }

        a {
            font-family: "Montserrat-Bold";
            display: block;
            margin-top: 50px;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            color: #ffffff;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

            span {
                vertical-align: -8px;
            }
        }
    }
}

#page_poster {
    .back_img {
        width: 100%;
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        text-align: center;

        .title {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            // width: 100%;
            z-index: 9;

            p {
                white-space: nowrap;
                padding: 14px 44px;
                font-family: "Montserrat-Medium";
                font-size: 50px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1.7px;
                text-align: center;
                color: #ffffff;
                border-radius: 10px;
                box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
                background-color: rgba(0, 0, 0, 0.5);
                border: solid 3px #ac925d;
            }
        }
    }
}

#about {
    margin-top: 50px;

    .list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 50px;

        .item {
            width: calc(50% - 21px);

            .title {
                h1 {
                    font-family: "Montserrat-Bold";
                    font-size: 40px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 3px;
                    text-align: center;
                    color: #bc9460;
                }
            }

            .desc {
                margin-top: 30px;

                p {
                    font-family: "Montserrat-Regular";
                    font-size: 16px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 2.25;
                    letter-spacing: 1.2px;
                    text-align: justify;
                    color: #585655;
                }
            }
        }

        .photo {
            width: calc(50% - 21px);
            height: 400px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 6px;
        }
    }
}

#bambo {
    margin-top: 50px;

    .tab_panel {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;

        .tab_floor_1 {
            width: calc(50% - 10px);

            p.active {
                background-color: #bc9460;
                color: #ffffff;
            }

            p {
                cursor: pointer;
                padding: 16px 10px;
                border-radius: 10px;
                border: solid 2px #bc9460;
                font-family: "Montserrat-Medium";
                font-size: 22px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.7px;
                text-align: center;
                color: #585655;
            }
        }

        .tab_floor_2 {
            width: calc(50% - 10px);

            p.active {
                background-color: #bc9460;
                color: #ffffff;
            }

            p {
                transition: all .20s ease-in-out;
                cursor: pointer;
                padding: 16px 10px;
                border-radius: 10px;
                border: solid 2px #bc9460;
                font-family: "Montserrat-Medium";
                font-size: 22px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.7px;
                text-align: center;
                color: #585655;
            }
        }
    }

    .catring_photo {
        width: 100%;
        height: 450px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
    }

    .list {
        display: none;

    }

    .list.active {
        display: block;

    }

    .mar_bot {
        margin-bottom: 20px;
    }

    .photo_list {
        display: flex;
        justify-content: space-between;

        .photo_big {
            width: calc(50% - 10px);
            height: 500px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
        }

        .left {
            width: calc(50% - 10px);
            display: flex;
            flex-direction: column;

            .photo_left {
                border-radius: 10px;

                margin-bottom: 20px;
                height: 240px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .desc {
        margin: 50px 0;

        p {
            font-family: 'Montserrat-Medium';
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.25;
            letter-spacing: 1.2px;
            text-align: justify;
            color: #585655;
        }
    }
}

.index_footer {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    .soc_ul {
        text-align: left;

        li {
            display: inline-block;
            margin-right: 24px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .lang {
        text-align: right;

        li {
            display: inline-block;
            margin-right: 22px;

            &:last-child {
                margin-right: 0;
            }

            a {
                text-decoration: none;
                font-family: "Montserrat-Medium";
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1.2px;
                text-align: left;
                color: #ffffff;
                text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.inner_footer {
    background-color: #571b1f;
    text-align: center;
    padding: 30px 0;

    .item {
        h4 {
            font-family: "Montserrat-Thin";
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-align: center;
            color: #f5ffdb;
        }

        .social {
            margin-top: 30px;

            ul {
                li {
                    display: inline-block;
                    margin-right: 20px;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        text-decoration: none;

                        i {
                            opacity: 0.58;
                            color: #f5ffdb;
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .sharks {
            margin-top: 30px;

            a {
                text-decoration: none;
                font-family: "Montserrat-Thin";
                font-size: 12px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.9px;
                text-align: left;
                color: #f5ffdb;
            }
        }
    }
}

#respon_header {
    .burger {
        margin-top: 26px;
        cursor: pointer;
    }

    .logo {
        img {
            width: 140px;
            margin: auto;
            margin-top: 26px;
        }
    }

    .lang {
        text-align: right;
        margin-top: 26px;

        .active_lan {
            position: relative;
        }

        span {
            font-family: "Montserrat-Medium";
            font-size: 13.1px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }

        ul {
            display: none;
            position: absolute;
            right: 10px;
            top: 20px;
            transform: translateX(-50%);
            z-index: 9;

            li {
                display: block;
                margin-bottom: 4px;

                a {
                    font-family: "Montserrat-Medium";
                    text-decoration: none;
                    font-size: 13.1px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                }
            }
        }

        .down {
            display: inline-block;
            cursor: pointer;
            margin-left: 5px;

            i {
                vertical-align: 2px;
                font-size: 10px;
                color: white;
            }
        }
    }

    .respon_menu {
        width: 256px;
        padding: 70px 0 50px 0;
        border-radius: 36px;
        box-shadow: 12px 12px 46px 0 rgba(73, 73, 73, 0.5);
        background-color: #ffffff;
        border: solid 1px #bc9460;
        position: absolute;
        top: 0;
        left: -200%;
        transition: all .60s ease-in-out;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        z-index: 99;

        .menu {
            ul {
                li {
                    display: block;
                    padding: 20px 0;
                    border-bottom: 1px solid #bc9460;

                    &:first-child {
                        padding-top: 0;
                    }

                    a {
                        display: block;
                        padding: 0px 0 0px 40px;
                        text-decoration: none;
                        font-family: "Montserrat-Regular";
                        font-size: 14px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 1.2px;
                        text-align: left;
                        color: #bc9460;
                    }
                }
            }

            .drop_down {
                .sub_menu {
                    display: none;

                    li {
                        border: none;
                        padding: 10px 0;

                        &:last-child {
                            padding-bottom: 0;
                        }

                        a {
                            font-family: "Montserrat-Regular";
                            font-size: 12px;
                            font-weight: 500;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: 1px;
                            text-align: left;
                            color: #a6a6a6;
                        }
                    }
                }
            }
        }

        .social_ul {
            margin-top: 18px;

            ul {
                padding: 0px 0 0px 40px;

                li {
                    display: inline-block;
                    margin-right: 18px;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        text-decoration: none;

                        i {
                            color: #bc9460;
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .close_menu {
            position: absolute;
            top: 22px;
            left: 4%;
            cursor: pointer;
        }
    }

    .left_0 {
        left: 0;
    }
}

.inner_p_menu {
    background-color: #571b1f !important;
    padding: 7px 0;

    .lang span {
        color: #ac925d !important;
    }

    .lang .down i {
        color: #ac925d !important;
    }

    .lang ul li a {
        color: #ac925d !important;
    }
}

#events {
    margin: 50px 0;

    .event_item {
        display: flex;
        border-radius: 10px;
        background-color: #fafafa;
        box-shadow: 0 0 10px 0 rgba(173, 173, 173, 0.5);
        margin-bottom: 50px;

        .popup {
            display: none;
            padding: 40px 30px 30px 30px;
            background-color: white;
            z-index: 99;
            position: fixed;
            width: 70%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 10px;
            box-shadow: 0 0 9px 0 rgba(173, 173, 173, 0.5);

            .close_pop {
                position: absolute;
                right: 1%;
                top: 1%;
                cursor: pointer;

                svg {
                    width: 20px;
                }
            }

            .img {
                width: 100%;
                height: 260px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 10px;
            }

            .title {
                margin-top: 20px;
                text-align: center;

                h4 {
                    font-family: "Montserrat-Bold";
                    font-size: 24px;
                    font-weight: 800;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 3.4px;
                    color: #bc9460;
                }
            }

            .date_time {
                margin-top: 20px;

                ul {
                    display: flex;
                    justify-content: space-between;
                    list-style: none;

                    li {
                        width: 33.3%;
                        text-align: center;
                        font-family: "Montserrat-Semi-Bold";
                        font-size: 22px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 1.8px;
                        color: #585655;
                    }
                }
            }

            .desc {
                width: 100%;
                margin-top: 20px;
                padding: 0;

                p {
                    font-family: "Montserrat-Medium";
                    font-size: 14px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.4;
                    letter-spacing: 1.2px;
                    text-align: justify;
                    color: #585655;
                }
            }

            .border_bot {
                width: 70px;
                height: 1px;
                background-color: #585655;
                margin: auto;
                margin-top: 20px;

            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        .photo {
            position: relative;
            height: 352px;
            width: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

            .date_blok {
                background: #ab2a32;
                position: absolute;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                top: 0;
                bottom: 0;
                width: 60px;

                ul {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    li {
                        display: block;
                        position: absolute;
                        left: 50%;
                        // bottom: 60px;
                        // left: 50%;
                        transform: translateX(-50%);

                        &:nth-child(1) {
                            top: 30px;
                        }

                        &:nth-child(2) {
                            bottom: 200px;
                        }

                        &:nth-child(3) {
                            bottom: 80px;
                        }

                        span {
                            display: block;
                            color: white;
                            transform: rotate(-90deg);
                            font-family: "Montserrat-Semi-Bold";
                            font-size: 16px;
                            font-weight: 400;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;

                            color: #ffffff;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }

        .desc {
            padding: 40px 30px;
            text-align: center;
            width: 50%;

            .title {
                p {
                    font-family: "Montserrat-Bold";
                    font-size: 20px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.7px;
                    text-align: center;
                    color: #585655;
                }
            }

            .text {
                margin-top: 20px;

                p {
                    font-family: "Montserrat-Medium";
                    font-size: 16px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 1.2px;
                    text-align: center;
                    color: #585655;
                }
            }

            .date {
                margin-top: 40px;

                p {
                    font-family: "Montserrat-Bold";
                    font-size: 30px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.7px;
                    color: #585655;
                }
            }

            .view {
                margin-top: 40px;

                a {
                    font-family: "Montserrat-Bold";
                    font-size: 18px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.6px;
                    text-decoration: none;
                    color: #ab2a32;

                }
            }
        }

    }
}

#services {
    margin: 50px 0;

    .serv_item {
        display: flex;
        justify-content: space-between;
        text-align: center;

        .item {
            width: calc(33.3% - 10px);


            a {
                text-decoration: none;
            }

            .photo {
                position: relative;
                height: 268px;
                border-radius: 10px;
                background-color: #bc9460;
                cursor: pointer;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .desc {
                margin-top: 20px;
                padding: 0 20px;

                .title {
                    h4 {
                        font-family: "Montserrat-Semi-Bold";
                        font-size: 26px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 4.3px;
                        text-align: center;
                        color: #ab2a32;
                    }
                }

                .text {
                    margin-top: 20px;

                    p {
                        font-family: "Montserrat-Medium";
                        font-size: 16px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 1.2px;
                        text-align: justify;
                        color: #585655;
                    }
                }
            }

            .pop_menu {
                padding: 60px 20px 40px 20px;
                z-index: 99;
                position: fixed;
                width: 90%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 10px;
                background-color: #fafafa;
                box-shadow: 0 0 9px 0 rgba(173, 173, 173, 0.5);
                background-position: left;
                background-repeat-x: no-repeat;
                text-align: center;
                display: none;

                .title {
                    h1 {
                        font-family: "Montserrat-Bold";
                        font-size: 30px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 1px;
                        text-align: center;
                        color: #bc9460;
                    }

                    p {
                        margin-top: 20px;
                        font-family: "Montserrat-Medium";
                        font-size: 22px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 1.6px;

                        color: #636363;
                    }
                }

                .desc_menu {
                    margin-top: 20px;

                    p {
                        font-family: "Montserrat-Bold";
                        font-size: 20px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 2;
                        letter-spacing: 1.5px;
                        text-align: center;
                        color: #585655;
                    }
                }

                .close_pop {
                    position: absolute;
                    cursor: pointer;
                    right: 14px;
                    top: 14px;
                }
            }
        }
    }

    .reserv_list {
        margin-top: 50px;

        .title {
            h4 {
                font-family: "Montserrat-Bold";
                font-size: 30px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1px;
                text-align: center;
                color: #bc9460;
            }
        }

        .tab_con {
            border: none;
            text-align: center;

            .ul {
                border-radius: 10px;
                border: solid 1px #bc9460;
                margin: auto;
                margin-top: 26px;
                display: flex;
                width: 620px;

                li.active {
                    background-color: #bc9460;
                    border-radius: 10px;

                    a {
                        color: #ffffff;
                    }
                }

                li {
                    display: inline-block;
                    width: 50%;

                    &:hover {
                        a {
                            background: transparent !important;
                        }
                    }

                    a {
                        padding: 18px 0 !important;
                        display: block;

                        font-family: "Montserrat-Regular";
                        font-size: 20px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.7px;
                        text-align: center;
                        color: #585655;
                        background: transparent !important;

                        &:hover {
                            background: transparent !important;
                        }
                    }
                }
            }

        }

        .tab-content {
            width: 620px;
            margin: auto;

            margin-top: 30px;

            .tab_form {
                display: flex;
                justify-content: space-between;
                
                .left {
                    width: calc(50% - 42px);
                    text-align: left;
                    label {
                        display: block;
                        font-family: "Montserrat-Medium";
                        font-size: 18px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.6px;
                        color: #585655;
                    }
        
                    input {
                        margin-top: 10px;
                        margin-bottom: 20px;
                        height: 46px;
                        width: 100%;
                        border-radius: 10px;
                        border: solid 1px #bc9460;
                        padding: 0 16px;
                        outline: none;
        
                        &:focus {
                            outline: none;
                        }
                    }
                    .select_blok{
                        text-align: left;
                        span{
                            width: 134px;
                            padding: 12px;
                            display: inline-block;
                            text-align: center;
                            color: white;
                            margin-top: 10px;
                            margin-bottom: 20px;
                            border-radius: 10px;
                            background-color: #bc9460;
                            border: solid 1px #bc9460;
                            margin-right: 20px;
                        }
                        .container_{
                            display: inline-block;
                            input{
                                width: 34px;
                                padding: 0;
                                text-align: center;
                                color: #585655;
                            }
                            .res{
                                display: none;
                            }
                            .button-container{
                                display: inline-block;
                                button{
                                    outline: none;
                                    width: 34px;
                                    height: 46px;
                                    background: transparent;
                                    border-radius: 10px;
                                    color: #585655;
                                    border: solid 1px #bc9460;
                                }
                            }
                        }
                    }
                }

                .right {
                    width: calc(50% - 42px);
                    text-align: right;

                
                    label {
                        display: block;
                        font-family: "Montserrat-Medium";
                        font-size: 18px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.6px;
                        color: #585655;
                        text-align: left;
                    }
        
                    input {
                        margin-top: 10px;
                        margin-bottom: 20px;
                        height: 46px;
                        width: 100%;
                        border-radius: 10px;
                        border: solid 1px #bc9460;
                        padding: 0 16px;
                        outline: none;
        
                        &:focus {
                            outline: none;
                        }
                    }
                    .select_blok{
                        margin-top: 22px;
                        text-align: left;
                        .res2{
                            display: none;
                        }
                        span{
                            width: 134px;
                            padding: 12px;
                            display: inline-block;
                            text-align: center;
                            color: white;
                            margin-top: 10px;
                            margin-bottom: 20px;
                            border-radius: 10px;
                            background-color: #bc9460;
                            border: solid 1px #bc9460;
                            margin-right: 20px;
                        }
                        .container_{
                            display: inline-block;
                            input{
                                width: 34px;
                                padding: 0;
                                text-align: center;
                                color: #585655;
                            }
                            .res{
                                display: none;
                            }
                            .button-container{
                                display: inline-block;
                                button{
                                    outline: none;
                                    width: 34px;
                                    height: 46px;
                                    background: transparent;
                                    border-radius: 10px;
                                    color: #585655;
                                    border: solid 1px #bc9460;
                                }
                            }
                        }
                    }
                }
            }
            .total_voucher{
                margin: 26px 0;
                
               p{
                    font-family: "Montserrat-Semi-Bold";
                    font-size: 18px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.6px;
                    text-align: left;
                    color: #585655;
                    .vouch_inp{
                        width: 24px;
                        margin-left: 4px;
                    }
                    .total{
                        margin-left: 4px;
                    }
                    input{
                        border: none;
                        outline: none;
                        width: 38px;
                        &:focus{
                            outline: none;
                            
                        }
                    }
                }
            }
          
        }
    }

    .input-group {
        display: block;

        input {
            outline: 0;
            font-family: "Montserrat-Regular";

            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }

        .input-group-addon {
            position: absolute;
            right: 14px;
            z-index: 9;
            top: 54px;
            transform: translateY(-50%);
            cursor: pointer;
            background: transparent;
            border: 0;
        }
    }

    .submit {
        margin-top: 20px;

        button {
            border: 0;
            outline: 0;
            background: transparent;
            font-family: "Montserrat-Bold";
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            color: #bc9460;

            i {
                margin-left: 7px;
                font-size: 20px;
            }
        }
    }
}

#contact_sec {
    padding-top: 50px;

    .left {
        text-align: left;

        p {
            font-family: "Montserrat-Medium";
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            color: #585655;
            margin-bottom: 40px;
            // &:last-child{
            //     margin-bottom: 0;
            // }
        }

        a {
            text-decoration: none;
            display: block;

        }

        span {
            margin-bottom: 40px;
            font-family: "Montserrat-Regular";
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            color: #9b9b9b;
            display: block;
            // &:last-child{
            //     margin-bottom: 0;
            // }
        }

        .soc_ul {

            li {
                display: inline-block;
                margin-right: 22px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    text-decoration: none;

                    i {
                        font-size: 20px;
                        opacity: 0.66;
                        color: #ac925d;
                    }
                }
            }
        }
    }

    .right {
        font-family: "Montserrat-Medium";

        label {
            font-family: "Montserrat-Medium";
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            text-align: center;
            color: #585655;
        }

        input {
            font-family: "Montserrat-Medium";
            width: 100%;
            outline: 0;
            height: 46px;
            border-radius: 10px;
            border: solid 1px #bc9460;
            padding: 0 12px;
            margin-top: 10px;
        }

        .bott {
            margin-top: 28px;
        }

        textarea {
            width: 100%;
            border-radius: 10px;
            border: solid 1px #bc9460;
            margin-top: 10px;
        }
    }

    #map {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        margin-bottom: 50px;
    }

    .border_bot {
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to left, rgba(188, 148, 96, 0), #bc9460 51%, rgba(188, 148, 96, 0));
    }
}


#menu_sld {
    margin: 50px 0;

    .cavid {
        background-color: #bc9460;
        color: white !important;
    }

    .menu_item {
        text-align: center;
        border-radius: 10px;
        border: solid 2px #bc9460;
        cursor: pointer;
        padding: 14px 10px;
        font-family: "Montserrat-Medium";
        font-size: 26px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.9px;
        text-align: center;
        color: #585655;
    }


}

.menu_list {
    margin-bottom: 30px;

    .item {
        ul {
            list-style: none;

            li {
                display: block;
                margin-bottom: 20px;

                .flex_ {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    position: relative;

                    .name {
                        background-color: #FFF;
                        z-index: 99;
                        padding-right: 10px;
                        font-family: "Montserrat-Medium";
                        font-size: 22px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.7px;
                        text-align: left;
                        color: #585655;
                    }

                    .dots {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: 4px;
                        background: #DDD;
                        border: 1px dashed gray;
                    }

                    .price {
                        padding-left: 10px;
                        background: white;
                        z-index: 9;
                        font-family: "Montserrat-Medium";
                        font-size: 22px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.7px;
                        text-align: left;
                        color: #585655;
                    }
                }

                .desc {
                    margin-top: 6px;
                    font-family: "Montserrat-Thin";
                    font-size: 18px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.5px;
                    text-align: left;
                    color: #585655;
                }
            }
        }
    }
}

#gallery_hide{
    display: none;
}

//////////////////////////////RESPON STYLE////////////////////////////////

// @media screen and (max-width:1200px) and (min-width:991px)


@media screen and (max-width:992px) {

    #thank {
        width: 60%;
    }

    #services .serv_item {
        flex-wrap: wrap;

        .item {
            width: calc(50% - 10px);
            margin-bottom: 40px;

            .pop_menu {
                padding: 40px 20px 20px 20px;

                .desc_menu {
                    margin-top: 14px;

                    p {
                        line-height: 1.6;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }

    #index_content {
        top: 60%;
        width: 100%;
    }

    #page_poster .back_img .title p {
        font-size: 36px;
    }
}

@media screen and (max-width:767px) {

    #menu_page {
        #menu_sld {
            margin: 20px 0;

            .menu_item {
                padding: 10px;
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.5px;
                text-align: center;
                color: #585655;
            }
        }

        .menu_list {
            margin-bottom: 10px;

            .item {
                ul {
                    li {
                        margin-bottom: 10px;
                        .name{
                            font-size: 15px;
                            font-weight: 300;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: 0.5px;
                            color: #585655;
                        }
                        .price{
                            font-size: 15px;
                            font-weight: 300;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: 0.5px;
                            color: #585655;
                        }
                        .desc{
                            font-size: 12px;
                            font-weight: 300;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: 0.3px;
                            text-align: left;
                            color: #585655;
                        }
                    }
                }
            }
        }
    }



    #contact_sec {
        padding-top: 25px;

        .left {
            p {
                font-size: 12px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.4px;
                color: #585655;
            }

            span {

                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0;
                color: #9b9b9b;
            }

            .soc_ul li {
                margin-right: 6px;

                i {
                    font-size: 16px !important;
                }
            }
        }

        .right {
            label {
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.5px;
                color: #585655;
                margin-top: 16px;
            }
        }

        #map {
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }

    #thank {
        width: 90%;
        padding: 40px 30px !important;

        .close_thank {
            top: 10px;
            right: 10px;
        }

        h1 {
            font-size: 18px !important;
        }

        p {
            font-size: 14px !important;
            letter-spacing: 0.5px !important;
        }
    }

    #services {
        margin: 16px 0 30px 0;

        .serv_item {
            flex-wrap: nowrap;
            flex-direction: column;

            .item {
                width: 100%;
                margin-bottom: 40px;

                .border_b {
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(to left, rgba(188, 148, 96, 0), #bc9460 51%, rgba(188, 148, 96, 0));
                    margin: auto;
                    margin-top: 20px;
                }

                .photo {
                    height: 140px;

                }

                .desc {
                    .title h4 {
                        font-size: 12px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 2px;
                        text-align: center;
                        color: #ab2a32;
                    }

                    .text p {
                        font-size: 10px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.5;
                        letter-spacing: 0.7px;
                        text-align: justify;
                        color: #585655;
                    }
                }

                .pop_menu {
                    padding: 40px 20px 20px 20px;

                    .title {
                        h1 {
                            font-size: 12px;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: 0.4px;
                            text-align: center;
                            color: #bc9460;
                        }

                        p {
                            font-size: 10px;
                            font-weight: 500;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: 0.7px;
                            color: #636363;
                        }
                    }

                    .desc_menu {
                        margin-top: 10px;

                        p {
                            font-size: 10px;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 2;
                            letter-spacing: 0.7px;
                            text-align: center;
                            color: #585655;
                        }
                    }

                    .close_pop img {
                        width: 20px;
                    }
                }
            }
        }

        .reserv_list {
            margin-top: 20px;

            .title h4 {
                font-size: 20px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.7px;
                text-align: center;
                color: #bc9460;
            }

            .tab_con .ul {
                width: 100%;
                margin-top: 16px;

                li a {

                    font-size: 14px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.5px;
                    text-align: center;
                    color: #585655;
                }
            }
        }

        .tab-content {
            width: 100% !important;
            margin-top: 16px !important;

            .tab_form {
                flex-direction: column;

                .left {
                    width: 100% !important;
                }

                .right {
                    width: 100% !important;
                }

                label {
                    font-size: 16px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.5px;
                    color: #585655;
                }

                input {
                    margin: 16px 0;
                }
            }
        }

        .submit {
            margin-top: 10px;

            button {
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.4px;
                color: #bc9460;

                i {
                    margin-left: 4px;
                    font-size: 14px;
                }
            }
        }
    }


    #index_content {
        .desc {
            h1 {
                font-size: 20px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.7px;
                text-align: center;
                color: #b3a08c;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }

            p {
                font-size: 16px;
                width: 243px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.92;
                letter-spacing: 0.5px;
                text-align: center;
                color: #ffffff;
                text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            }

            a {
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.6px;
                color: #ffffff;
                position: fixed;
                bottom: -90%;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                width: 100%;
            }
        }
    }

    #about {
        margin-top: 16px;
        margin-bottom: 0;

        .list {
            flex-direction: column;
            margin-bottom: 26px;

            .photo {
                width: 100%;
                margin-top: 16px;
                height: 300px;
            }

            .item {
                order: -1;
                width: 100%;

                .title h1 {
                    font-size: 12px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.9px;
                    color: #bc9460;
                }

                .desc {
                    margin-top: 16px;

                    p {
                        font-size: 10px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 3;
                        letter-spacing: 0.7px;
                        text-align: justify;
                        color: #585655;
                    }
                }
            }
        }
    }

    #page_poster {
        .back_img {
            height: 160px;

            .title p {
                padding: 12px !important;
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.2px;
                text-align: center;
                color: #ffffff;
                border: solid 1px #ac925d;
            }
        }
    }

    .inner_footer {
        padding: 20px 0px !important;

        .item h4 {
            font-size: 12px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.2px;
            text-align: center;
            color: #f5ffdb;
        }

        .social {
            margin-top: 16px !important;

            li {
                margin-right: 12px !important;

                i {
                    font-size: 14px !important;
                }
            }
        }

        .sharks {
            margin-top: 16px !important;

            a {
                font-size: 6px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.4px;
                text-align: left;
                color: #f5ffdb;
            }

        }
    }

    #bambo {
        margin-top: 16px;

        .catring_photo {
            height: 240px;
        }

        .tab_panel {
            margin-bottom: 16px;

            .tab_floor_1,
            .tab_floor_2 {
                width: calc(50% - 5px);

                p {
                    font-size: 11px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.4px;
                    text-align: center;
                    color: #585655;
                }
            }
        }

        .mar_bot {
            margin-bottom: 10px;
        }

        .photo_list {
            .photo_big {
                width: calc(50% - 5px);
                height: 240px;
            }

            .left {
                width: calc(50% - 5px);

                .photo_left {
                    margin-bottom: 10px;
                    height: 115px;
                }
            }
        }

        .desc {
            margin-top: 16px;
            margin-bottom: 30px;

            p {
                font-size: 10px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 3;
                letter-spacing: 0.7px;
                text-align: justify;
                color: #585655;
            }
        }
    }

    #events {
        margin: 20px 0;

        .event_item {
            margin-bottom: 16px;
            border-radius: 20px;
            background-color: #fafafa;
            box-shadow: 0 0 10px 0 rgba(173, 173, 173, 0.5);

            .photo {
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
                height: 124px;

                .date_blok {
                    width: 30px;

                    ul {
                        li {
                            span {
                                font-size: 8px;
                                font-weight: 600;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: 0.2px;
                                color: #ffffff;
                            }

                            &:nth-child(2) {
                                display: none;
                            }

                            &:nth-child(3) {
                                bottom: 30px;
                            }
                        }
                    }
                }
            }

            .desc {
                padding: 6px 8px 4px 8px;

                .title p {
                    font-size: 10px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.3px;
                    text-align: center;
                    color: #585655;
                }

                .text {
                    margin-top: 6px;

                    p {
                        font-size: 7px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.5px;
                        text-align: center;
                        color: #585655;
                    }
                }

                .date {
                    margin-top: 6px;

                    p {
                        font-size: 8px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.2px;
                        color: #585655;
                    }
                }

                .view {
                    margin-top: 10px;

                    a {
                        font-size: 8px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.3px;
                        color: #ab2a32;
                    }
                }
            }

            .popup {
                padding: 30px 16px 14px 16px;

                .img {
                    height: 120px;
                }

                .title {
                    margin-top: 10px;

                    h4 {
                        font-size: 12px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: 0.4px;
                        text-align: center;
                        color: #bc9460;
                    }
                }

                .date_time {
                    margin-top: 10px;

                    ul {
                        li {
                            font-size: 12px;
                            font-weight: 600;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: 0.9px;
                            color: #585655;
                        }
                    }
                }

                .border_bot {
                    width: 16px;
                    margin-top: 10px;
                }

                .desc {
                    margin-top: 12px;

                    p {
                        font-size: 10px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.4;
                        letter-spacing: 0.7px;
                        text-align: justify;
                        color: #585655;
                    }
                }
            }
        }
    }
}