html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

@font-face {
  font-family: "Montserrat-Semi-Bold";
  src: url("../fonts/Montserrat-SemiBold.otf"); }
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.otf"); }
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.otf"); }
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.otf"); }
@font-face {
  font-family: "Montserrat-Thin";
  src: url("../fonts/Montserrat-Thin.otf"); }
#thank {
  border-radius: 10px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 9px 0 rgba(173, 173, 173, 0.5);
          box-shadow: 0 0 9px 0 rgba(173, 173, 173, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-position-x: 0;
  padding: 90px 70px;
  width: 36%; }
  #thank .close_thank {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer; }
  #thank .title {
    text-align: center; }
    #thank .title h1 {
      font-family: "Montserrat-Semi-Bold";
      font-size: 28px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.9px;
      text-align: center;
      color: #bc9460; }
    #thank .title p {
      font-family: "Montserrat-Medium";
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.7px;
      text-align: center;
      color: #585655;
      margin-top: 10px; }

.margin_0 {
  margin-top: 0 !important; }

.back_video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: #000000; }

#index_header .logo {
  margin-top: 20px; }
  #index_header .logo img {
    width: 104px; }
#index_header .menu {
  margin-top: 110px; }
  #index_header .menu .main_ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none; }
    #index_header .menu .main_ul li.drop_down {
      position: relative; }
      #index_header .menu .main_ul li.drop_down .sub_menu {
        z-index: 99;
        display: none;
        position: absolute;
        width: 300px;
        background-color: white;
        border: solid 1px #bc9460;
        border-radius: 6px;
        left: 50%;
        top: 40px;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
        #index_header .menu .main_ul li.drop_down .sub_menu .top {
          border: 1px solid #bc9460;
          border-right: 0;
          border-bottom: 0;
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          top: -10px;
          left: 50%;
          -webkit-transform: translateX(-50%) rotate(45deg);
                  transform: translateX(-50%) rotate(45deg); }
        #index_header .menu .main_ul li.drop_down .sub_menu ul {
          list-style: none; }
        #index_header .menu .main_ul li.drop_down .sub_menu li {
          border-bottom: 1px solid #bc9460; }
          #index_header .menu .main_ul li.drop_down .sub_menu li:last-child {
            border: none; }
          #index_header .menu .main_ul li.drop_down .sub_menu li a {
            display: block;
            padding-left: 26px;
            padding-bottom: 16px;
            padding-top: 16px;
            text-decoration: none;
            font-family: "Montserrat-Regular";
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.2px;
            color: #bc9460; }
    #index_header .menu .main_ul li a {
      text-decoration: none;
      font-family: "Montserrat-Bold";
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.2px;
      color: #ffffff; }
      #index_header .menu .main_ul li a span {
        position: absolute;
        right: -14px;
        top: -2px; }

#inner_header {
  padding: 38px 0;
  background-color: #571b1f;
  border-bottom: 1px solid #ac925d; }
  #inner_header .menu .main_ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none; }
    #inner_header .menu .main_ul .drop_down {
      position: relative; }
      #inner_header .menu .main_ul .drop_down a i {
        margin-left: 6px; }
      #inner_header .menu .main_ul .drop_down .sub_menu {
        z-index: 99;
        display: none;
        position: absolute;
        width: 300px;
        background-color: white;
        border: solid 1px #bc9460;
        border-radius: 6px;
        left: 50%;
        top: 40px;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
        #inner_header .menu .main_ul .drop_down .sub_menu .top {
          border: 1px solid #bc9460;
          border-right: 0;
          border-bottom: 0;
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          top: -10px;
          left: 50%;
          -webkit-transform: translateX(-50%) rotate(45deg);
                  transform: translateX(-50%) rotate(45deg); }
        #inner_header .menu .main_ul .drop_down .sub_menu ul li {
          display: block;
          border-bottom: 1px solid #bc9460; }
          #inner_header .menu .main_ul .drop_down .sub_menu ul li:last-child {
            border-bottom: 0; }
          #inner_header .menu .main_ul .drop_down .sub_menu ul li a {
            display: block;
            padding-left: 26px;
            padding-bottom: 16px;
            padding-top: 16px;
            text-decoration: none;
            font-family: "Montserrat-Regular";
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.2px;
            color: #bc9460; }
    #inner_header .menu .main_ul li a.active {
      opacity: .5; }
    #inner_header .menu .main_ul li a {
      text-decoration: none;
      font-family: "Montserrat-Regular";
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.2px;
      text-align: left;
      color: #efdfbb; }

#index_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  #index_content .desc {
    text-align: center; }
    #index_content .desc h1 {
      font-family: "Montserrat-Bold";
      font-size: 50px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.7px;
      text-align: center;
      color: #b3a08c;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
    #index_content .desc p {
      font-family: "Montserrat-Medium";
      width: 456px;
      font-size: 30px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.23;
      letter-spacing: 1px;
      text-align: center;
      color: #ffffff;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      margin: auto;
      margin-top: 50px; }
    #index_content .desc a {
      font-family: "Montserrat-Bold";
      display: block;
      margin-top: 50px;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.6px;
      color: #ffffff;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
      #index_content .desc a span {
        vertical-align: -8px; }

#page_poster .back_img {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center; }
  #page_poster .back_img .title {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    z-index: 9; }
    #page_poster .back_img .title p {
      white-space: nowrap;
      padding: 14px 44px;
      font-family: "Montserrat-Medium";
      font-size: 50px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.7px;
      text-align: center;
      color: #ffffff;
      border-radius: 10px;
      -webkit-box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
              box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: rgba(0, 0, 0, 0.5);
      border: solid 3px #ac925d; }

#about {
  margin-top: 50px; }
  #about .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px; }
    #about .list .item {
      width: calc(50% - 21px); }
      #about .list .item .title h1 {
        font-family: "Montserrat-Bold";
        font-size: 40px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 3px;
        text-align: center;
        color: #bc9460; }
      #about .list .item .desc {
        margin-top: 30px; }
        #about .list .item .desc p {
          font-family: "Montserrat-Regular";
          font-size: 16px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.25;
          letter-spacing: 1.2px;
          text-align: justify;
          color: #585655; }
    #about .list .photo {
      width: calc(50% - 21px);
      height: 400px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 6px; }

#bambo {
  margin-top: 50px; }
  #bambo .tab_panel {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #bambo .tab_panel .tab_floor_1 {
      width: calc(50% - 10px); }
      #bambo .tab_panel .tab_floor_1 p.active {
        background-color: #bc9460;
        color: #ffffff; }
      #bambo .tab_panel .tab_floor_1 p {
        cursor: pointer;
        padding: 16px 10px;
        border-radius: 10px;
        border: solid 2px #bc9460;
        font-family: "Montserrat-Medium";
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.7px;
        text-align: center;
        color: #585655; }
    #bambo .tab_panel .tab_floor_2 {
      width: calc(50% - 10px); }
      #bambo .tab_panel .tab_floor_2 p.active {
        background-color: #bc9460;
        color: #ffffff; }
      #bambo .tab_panel .tab_floor_2 p {
        -webkit-transition: all .20s ease-in-out;
        transition: all .20s ease-in-out;
        cursor: pointer;
        padding: 16px 10px;
        border-radius: 10px;
        border: solid 2px #bc9460;
        font-family: "Montserrat-Medium";
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.7px;
        text-align: center;
        color: #585655; }
  #bambo .catring_photo {
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px; }
  #bambo .list {
    display: none; }
  #bambo .list.active {
    display: block; }
  #bambo .mar_bot {
    margin-bottom: 20px; }
  #bambo .photo_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #bambo .photo_list .photo_big {
      width: calc(50% - 10px);
      height: 500px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px; }
    #bambo .photo_list .left {
      width: calc(50% - 10px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      #bambo .photo_list .left .photo_left {
        border-radius: 10px;
        margin-bottom: 20px;
        height: 240px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
        #bambo .photo_list .left .photo_left:last-child {
          margin-bottom: 0; }
  #bambo .desc {
    margin: 50px 0; }
    #bambo .desc p {
      font-family: 'Montserrat-Medium';
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.25;
      letter-spacing: 1.2px;
      text-align: justify;
      color: #585655; }

.index_footer {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .index_footer .soc_ul {
    text-align: left; }
    .index_footer .soc_ul li {
      display: inline-block;
      margin-right: 24px; }
      .index_footer .soc_ul li:last-child {
        margin-right: 0; }
  .index_footer .lang {
    text-align: right; }
    .index_footer .lang li {
      display: inline-block;
      margin-right: 22px; }
      .index_footer .lang li:last-child {
        margin-right: 0; }
      .index_footer .lang li a {
        text-decoration: none;
        font-family: "Montserrat-Medium";
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.2px;
        text-align: left;
        color: #ffffff;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.inner_footer {
  background-color: #571b1f;
  text-align: center;
  padding: 30px 0; }
  .inner_footer .item h4 {
    font-family: "Montserrat-Thin";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #f5ffdb; }
  .inner_footer .item .social {
    margin-top: 30px; }
    .inner_footer .item .social ul li {
      display: inline-block;
      margin-right: 20px; }
      .inner_footer .item .social ul li:last-child {
        margin-right: 0; }
      .inner_footer .item .social ul li a {
        text-decoration: none; }
        .inner_footer .item .social ul li a i {
          opacity: 0.58;
          color: #f5ffdb;
          font-size: 20px; }
  .inner_footer .item .sharks {
    margin-top: 30px; }
    .inner_footer .item .sharks a {
      text-decoration: none;
      font-family: "Montserrat-Thin";
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.9px;
      text-align: left;
      color: #f5ffdb; }

#respon_header .burger {
  margin-top: 26px;
  cursor: pointer; }
#respon_header .logo img {
  width: 140px;
  margin: auto;
  margin-top: 26px; }
#respon_header .lang {
  text-align: right;
  margin-top: 26px; }
  #respon_header .lang .active_lan {
    position: relative; }
  #respon_header .lang span {
    font-family: "Montserrat-Medium";
    font-size: 13.1px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff; }
  #respon_header .lang ul {
    display: none;
    position: absolute;
    right: 10px;
    top: 20px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 9; }
    #respon_header .lang ul li {
      display: block;
      margin-bottom: 4px; }
      #respon_header .lang ul li a {
        font-family: "Montserrat-Medium";
        text-decoration: none;
        font-size: 13.1px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff; }
  #respon_header .lang .down {
    display: inline-block;
    cursor: pointer;
    margin-left: 5px; }
    #respon_header .lang .down i {
      vertical-align: 2px;
      font-size: 10px;
      color: white; }
#respon_header .respon_menu {
  width: 256px;
  padding: 70px 0 50px 0;
  border-radius: 36px;
  -webkit-box-shadow: 12px 12px 46px 0 rgba(73, 73, 73, 0.5);
          box-shadow: 12px 12px 46px 0 rgba(73, 73, 73, 0.5);
  background-color: #ffffff;
  border: solid 1px #bc9460;
  position: absolute;
  top: 0;
  left: -200%;
  -webkit-transition: all .60s ease-in-out;
  transition: all .60s ease-in-out;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 99; }
  #respon_header .respon_menu .menu ul li {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #bc9460; }
    #respon_header .respon_menu .menu ul li:first-child {
      padding-top: 0; }
    #respon_header .respon_menu .menu ul li a {
      display: block;
      padding: 0px 0 0px 40px;
      text-decoration: none;
      font-family: "Montserrat-Regular";
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.2px;
      text-align: left;
      color: #bc9460; }
  #respon_header .respon_menu .menu .drop_down .sub_menu {
    display: none; }
    #respon_header .respon_menu .menu .drop_down .sub_menu li {
      border: none;
      padding: 10px 0; }
      #respon_header .respon_menu .menu .drop_down .sub_menu li:last-child {
        padding-bottom: 0; }
      #respon_header .respon_menu .menu .drop_down .sub_menu li a {
        font-family: "Montserrat-Regular";
        font-size: 12px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-align: left;
        color: #a6a6a6; }
  #respon_header .respon_menu .social_ul {
    margin-top: 18px; }
    #respon_header .respon_menu .social_ul ul {
      padding: 0px 0 0px 40px; }
      #respon_header .respon_menu .social_ul ul li {
        display: inline-block;
        margin-right: 18px; }
        #respon_header .respon_menu .social_ul ul li:last-child {
          margin-right: 0; }
        #respon_header .respon_menu .social_ul ul li a {
          text-decoration: none; }
          #respon_header .respon_menu .social_ul ul li a i {
            color: #bc9460;
            font-size: 20px; }
  #respon_header .respon_menu .close_menu {
    position: absolute;
    top: 22px;
    left: 4%;
    cursor: pointer; }
#respon_header .left_0 {
  left: 0; }

.inner_p_menu {
  background-color: #571b1f !important;
  padding: 7px 0; }
  .inner_p_menu .lang span {
    color: #ac925d !important; }
  .inner_p_menu .lang .down i {
    color: #ac925d !important; }
  .inner_p_menu .lang ul li a {
    color: #ac925d !important; }

#events {
  margin: 50px 0; }
  #events .event_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
    background-color: #fafafa;
    -webkit-box-shadow: 0 0 10px 0 rgba(173, 173, 173, 0.5);
            box-shadow: 0 0 10px 0 rgba(173, 173, 173, 0.5);
    margin-bottom: 50px; }
    #events .event_item .popup {
      display: none;
      padding: 40px 30px 30px 30px;
      background-color: white;
      z-index: 99;
      position: fixed;
      width: 70%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border-radius: 10px;
      -webkit-box-shadow: 0 0 9px 0 rgba(173, 173, 173, 0.5);
              box-shadow: 0 0 9px 0 rgba(173, 173, 173, 0.5); }
      #events .event_item .popup .close_pop {
        position: absolute;
        right: 1%;
        top: 1%;
        cursor: pointer; }
        #events .event_item .popup .close_pop svg {
          width: 20px; }
      #events .event_item .popup .img {
        width: 100%;
        height: 260px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px; }
      #events .event_item .popup .title {
        margin-top: 20px;
        text-align: center; }
        #events .event_item .popup .title h4 {
          font-family: "Montserrat-Bold";
          font-size: 24px;
          font-weight: 800;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 3.4px;
          color: #bc9460; }
      #events .event_item .popup .date_time {
        margin-top: 20px; }
        #events .event_item .popup .date_time ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          list-style: none; }
          #events .event_item .popup .date_time ul li {
            width: 33.3%;
            text-align: center;
            font-family: "Montserrat-Semi-Bold";
            font-size: 22px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.8px;
            color: #585655; }
      #events .event_item .popup .desc {
        width: 100%;
        margin-top: 20px;
        padding: 0; }
        #events .event_item .popup .desc p {
          font-family: "Montserrat-Medium";
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.4;
          letter-spacing: 1.2px;
          text-align: justify;
          color: #585655; }
      #events .event_item .popup .border_bot {
        width: 70px;
        height: 1px;
        background-color: #585655;
        margin: auto;
        margin-top: 20px; }
    #events .event_item:last-child {
      margin-bottom: 0; }
    #events .event_item .photo {
      position: relative;
      height: 352px;
      width: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
      #events .event_item .photo .date_blok {
        background: #ab2a32;
        position: absolute;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        top: 0;
        bottom: 0;
        width: 60px; }
        #events .event_item .photo .date_blok ul {
          width: 100%;
          height: 100%;
          position: relative; }
          #events .event_item .photo .date_blok ul li {
            display: block;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%); }
            #events .event_item .photo .date_blok ul li:nth-child(1) {
              top: 30px; }
            #events .event_item .photo .date_blok ul li:nth-child(2) {
              bottom: 200px; }
            #events .event_item .photo .date_blok ul li:nth-child(3) {
              bottom: 80px; }
            #events .event_item .photo .date_blok ul li span {
              display: block;
              color: white;
              -webkit-transform: rotate(-90deg);
                      transform: rotate(-90deg);
              font-family: "Montserrat-Semi-Bold";
              font-size: 16px;
              font-weight: 400;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              color: #ffffff;
              white-space: nowrap; }
    #events .event_item .desc {
      padding: 40px 30px;
      text-align: center;
      width: 50%; }
      #events .event_item .desc .title p {
        font-family: "Montserrat-Bold";
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.7px;
        text-align: center;
        color: #585655; }
      #events .event_item .desc .text {
        margin-top: 20px; }
        #events .event_item .desc .text p {
          font-family: "Montserrat-Medium";
          font-size: 16px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1.2px;
          text-align: center;
          color: #585655; }
      #events .event_item .desc .date {
        margin-top: 40px; }
        #events .event_item .desc .date p {
          font-family: "Montserrat-Bold";
          font-size: 30px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.7px;
          color: #585655; }
      #events .event_item .desc .view {
        margin-top: 40px; }
        #events .event_item .desc .view a {
          font-family: "Montserrat-Bold";
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          text-decoration: none;
          color: #ab2a32; }

#services {
  margin: 50px 0; }
  #services .serv_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center; }
    #services .serv_item .item {
      width: calc(33.3% - 10px); }
      #services .serv_item .item a {
        text-decoration: none; }
      #services .serv_item .item .photo {
        position: relative;
        height: 268px;
        border-radius: 10px;
        background-color: #bc9460;
        cursor: pointer; }
        #services .serv_item .item .photo img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
      #services .serv_item .item .desc {
        margin-top: 20px;
        padding: 0 20px; }
        #services .serv_item .item .desc .title h4 {
          font-family: "Montserrat-Semi-Bold";
          font-size: 26px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 4.3px;
          text-align: center;
          color: #ab2a32; }
        #services .serv_item .item .desc .text {
          margin-top: 20px; }
          #services .serv_item .item .desc .text p {
            font-family: "Montserrat-Medium";
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.2px;
            text-align: justify;
            color: #585655; }
      #services .serv_item .item .pop_menu {
        padding: 60px 20px 40px 20px;
        z-index: 99;
        position: fixed;
        width: 90%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        border-radius: 10px;
        background-color: #fafafa;
        -webkit-box-shadow: 0 0 9px 0 rgba(173, 173, 173, 0.5);
                box-shadow: 0 0 9px 0 rgba(173, 173, 173, 0.5);
        background-position: left;
        background-repeat-x: no-repeat;
        text-align: center;
        display: none; }
        #services .serv_item .item .pop_menu .title h1 {
          font-family: "Montserrat-Bold";
          font-size: 30px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1px;
          text-align: center;
          color: #bc9460; }
        #services .serv_item .item .pop_menu .title p {
          margin-top: 20px;
          font-family: "Montserrat-Medium";
          font-size: 22px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1.6px;
          color: #636363; }
        #services .serv_item .item .pop_menu .desc_menu {
          margin-top: 20px; }
          #services .serv_item .item .pop_menu .desc_menu p {
            font-family: "Montserrat-Bold";
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 1.5px;
            text-align: center;
            color: #585655; }
        #services .serv_item .item .pop_menu .close_pop {
          position: absolute;
          cursor: pointer;
          right: 14px;
          top: 14px; }
  #services .reserv_list {
    margin-top: 50px; }
    #services .reserv_list .title h4 {
      font-family: "Montserrat-Bold";
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1px;
      text-align: center;
      color: #bc9460; }
    #services .reserv_list .tab_con {
      border: none;
      text-align: center; }
      #services .reserv_list .tab_con .ul {
        border-radius: 10px;
        border: solid 1px #bc9460;
        margin: auto;
        margin-top: 26px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 620px; }
        #services .reserv_list .tab_con .ul li.active {
          background-color: #bc9460;
          border-radius: 10px; }
          #services .reserv_list .tab_con .ul li.active a {
            color: #ffffff; }
        #services .reserv_list .tab_con .ul li {
          display: inline-block;
          width: 50%; }
          #services .reserv_list .tab_con .ul li:hover a {
            background: transparent !important; }
          #services .reserv_list .tab_con .ul li a {
            padding: 18px 0 !important;
            display: block;
            font-family: "Montserrat-Regular";
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.7px;
            text-align: center;
            color: #585655;
            background: transparent !important; }
            #services .reserv_list .tab_con .ul li a:hover {
              background: transparent !important; }
    #services .reserv_list .tab-content {
      width: 620px;
      margin: auto;
      margin-top: 30px; }
      #services .reserv_list .tab-content .tab_form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        #services .reserv_list .tab-content .tab_form .left {
          width: calc(50% - 42px);
          text-align: left; }
          #services .reserv_list .tab-content .tab_form .left label {
            display: block;
            font-family: "Montserrat-Medium";
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            color: #585655; }
          #services .reserv_list .tab-content .tab_form .left input {
            margin-top: 10px;
            margin-bottom: 20px;
            height: 46px;
            width: 100%;
            border-radius: 10px;
            border: solid 1px #bc9460;
            padding: 0 16px;
            outline: none; }
            #services .reserv_list .tab-content .tab_form .left input:focus {
              outline: none; }
          #services .reserv_list .tab-content .tab_form .left .select_blok {
            text-align: left; }
            #services .reserv_list .tab-content .tab_form .left .select_blok span {
              width: 134px;
              padding: 12px;
              display: inline-block;
              text-align: center;
              color: white;
              margin-top: 10px;
              margin-bottom: 20px;
              border-radius: 10px;
              background-color: #bc9460;
              border: solid 1px #bc9460;
              margin-right: 20px; }
            #services .reserv_list .tab-content .tab_form .left .select_blok .container_ {
              display: inline-block; }
              #services .reserv_list .tab-content .tab_form .left .select_blok .container_ input {
                width: 34px;
                padding: 0;
                text-align: center;
                color: #585655; }
              #services .reserv_list .tab-content .tab_form .left .select_blok .container_ .res {
                display: none; }
              #services .reserv_list .tab-content .tab_form .left .select_blok .container_ .button-container {
                display: inline-block; }
                #services .reserv_list .tab-content .tab_form .left .select_blok .container_ .button-container button {
                  outline: none;
                  width: 34px;
                  height: 46px;
                  background: transparent;
                  border-radius: 10px;
                  color: #585655;
                  border: solid 1px #bc9460; }
        #services .reserv_list .tab-content .tab_form .right {
          width: calc(50% - 42px);
          text-align: right; }
          #services .reserv_list .tab-content .tab_form .right label {
            display: block;
            font-family: "Montserrat-Medium";
            font-size: 18px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.6px;
            color: #585655;
            text-align: left; }
          #services .reserv_list .tab-content .tab_form .right input {
            margin-top: 10px;
            margin-bottom: 20px;
            height: 46px;
            width: 100%;
            border-radius: 10px;
            border: solid 1px #bc9460;
            padding: 0 16px;
            outline: none; }
            #services .reserv_list .tab-content .tab_form .right input:focus {
              outline: none; }
          #services .reserv_list .tab-content .tab_form .right .select_blok {
            margin-top: 22px;
            text-align: left; }
            #services .reserv_list .tab-content .tab_form .right .select_blok .res2 {
              display: none; }
            #services .reserv_list .tab-content .tab_form .right .select_blok span {
              width: 134px;
              padding: 12px;
              display: inline-block;
              text-align: center;
              color: white;
              margin-top: 10px;
              margin-bottom: 20px;
              border-radius: 10px;
              background-color: #bc9460;
              border: solid 1px #bc9460;
              margin-right: 20px; }
            #services .reserv_list .tab-content .tab_form .right .select_blok .container_ {
              display: inline-block; }
              #services .reserv_list .tab-content .tab_form .right .select_blok .container_ input {
                width: 34px;
                padding: 0;
                text-align: center;
                color: #585655; }
              #services .reserv_list .tab-content .tab_form .right .select_blok .container_ .res {
                display: none; }
              #services .reserv_list .tab-content .tab_form .right .select_blok .container_ .button-container {
                display: inline-block; }
                #services .reserv_list .tab-content .tab_form .right .select_blok .container_ .button-container button {
                  outline: none;
                  width: 34px;
                  height: 46px;
                  background: transparent;
                  border-radius: 10px;
                  color: #585655;
                  border: solid 1px #bc9460; }
      #services .reserv_list .tab-content .total_voucher {
        margin: 26px 0; }
        #services .reserv_list .tab-content .total_voucher p {
          font-family: "Montserrat-Semi-Bold";
          font-size: 18px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          text-align: left;
          color: #585655; }
          #services .reserv_list .tab-content .total_voucher p .vouch_inp {
            width: 24px;
            margin-left: 4px; }
          #services .reserv_list .tab-content .total_voucher p .total {
            margin-left: 4px; }
          #services .reserv_list .tab-content .total_voucher p input {
            border: none;
            outline: none;
            width: 38px; }
            #services .reserv_list .tab-content .total_voucher p input:focus {
              outline: none; }
  #services .input-group {
    display: block; }
    #services .input-group input {
      outline: 0;
      font-family: "Montserrat-Regular"; }
      #services .input-group input:focus {
        outline: 0;
        -webkit-box-shadow: none;
                box-shadow: none; }
    #services .input-group .input-group-addon {
      position: absolute;
      right: 14px;
      z-index: 9;
      top: 54px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      cursor: pointer;
      background: transparent;
      border: 0; }
  #services .submit {
    margin-top: 20px; }
    #services .submit button {
      border: 0;
      outline: 0;
      background: transparent;
      font-family: "Montserrat-Bold";
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.6px;
      color: #bc9460; }
      #services .submit button i {
        margin-left: 7px;
        font-size: 20px; }

#contact_sec {
  padding-top: 50px; }
  #contact_sec .left {
    text-align: left; }
    #contact_sec .left p {
      font-family: "Montserrat-Medium";
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.6px;
      color: #585655;
      margin-bottom: 40px; }
    #contact_sec .left a {
      text-decoration: none;
      display: block; }
    #contact_sec .left span {
      margin-bottom: 40px;
      font-family: "Montserrat-Regular";
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.6px;
      color: #9b9b9b;
      display: block; }
    #contact_sec .left .soc_ul li {
      display: inline-block;
      margin-right: 22px; }
      #contact_sec .left .soc_ul li:last-child {
        margin-right: 0; }
      #contact_sec .left .soc_ul li a {
        text-decoration: none; }
        #contact_sec .left .soc_ul li a i {
          font-size: 20px;
          opacity: 0.66;
          color: #ac925d; }
  #contact_sec .right {
    font-family: "Montserrat-Medium"; }
    #contact_sec .right label {
      font-family: "Montserrat-Medium";
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.6px;
      text-align: center;
      color: #585655; }
    #contact_sec .right input {
      font-family: "Montserrat-Medium";
      width: 100%;
      outline: 0;
      height: 46px;
      border-radius: 10px;
      border: solid 1px #bc9460;
      padding: 0 12px;
      margin-top: 10px; }
    #contact_sec .right .bott {
      margin-top: 28px; }
    #contact_sec .right textarea {
      width: 100%;
      border-radius: 10px;
      border: solid 1px #bc9460;
      margin-top: 10px; }
  #contact_sec #map {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 50px; }
  #contact_sec .border_bot {
    width: 100%;
    height: 1px;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(188, 148, 96, 0)), color-stop(51%, #bc9460), to(rgba(188, 148, 96, 0)));
    background-image: linear-gradient(to left, rgba(188, 148, 96, 0), #bc9460 51%, rgba(188, 148, 96, 0)); }

#menu_sld {
  margin: 50px 0; }
  #menu_sld .cavid {
    background-color: #bc9460;
    color: white !important; }
  #menu_sld .menu_item {
    text-align: center;
    border-radius: 10px;
    border: solid 2px #bc9460;
    cursor: pointer;
    padding: 14px 10px;
    font-family: "Montserrat-Medium";
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: center;
    color: #585655; }

.menu_list {
  margin-bottom: 30px; }
  .menu_list .item ul {
    list-style: none; }
    .menu_list .item ul li {
      display: block;
      margin-bottom: 20px; }
      .menu_list .item ul li .flex_ {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        position: relative; }
        .menu_list .item ul li .flex_ .name {
          background-color: #FFF;
          z-index: 99;
          padding-right: 10px;
          font-family: "Montserrat-Medium";
          font-size: 22px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.7px;
          text-align: left;
          color: #585655; }
        .menu_list .item ul li .flex_ .dots {
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 4px;
          background: #DDD;
          border: 1px dashed gray; }
        .menu_list .item ul li .flex_ .price {
          padding-left: 10px;
          background: white;
          z-index: 9;
          font-family: "Montserrat-Medium";
          font-size: 22px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.7px;
          text-align: left;
          color: #585655; }
      .menu_list .item ul li .desc {
        margin-top: 6px;
        font-family: "Montserrat-Thin";
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: left;
        color: #585655; }

#gallery_hide {
  display: none; }

@media screen and (max-width: 992px) {
  #thank {
    width: 60%; }

  #services .serv_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #services .serv_item .item {
      width: calc(50% - 10px);
      margin-bottom: 40px; }
      #services .serv_item .item .pop_menu {
        padding: 40px 20px 20px 20px; }
        #services .serv_item .item .pop_menu .desc_menu {
          margin-top: 14px; }
          #services .serv_item .item .pop_menu .desc_menu p {
            line-height: 1.6;
            letter-spacing: 1px; }

  #index_content {
    top: 60%;
    width: 100%; }

  #page_poster .back_img .title p {
    font-size: 36px; } }
@media screen and (max-width: 767px) {
  #menu_page #menu_sld {
    margin: 20px 0; }
    #menu_page #menu_sld .menu_item {
      padding: 10px;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      text-align: center;
      color: #585655; }
  #menu_page .menu_list {
    margin-bottom: 10px; }
    #menu_page .menu_list .item ul li {
      margin-bottom: 10px; }
      #menu_page .menu_list .item ul li .name {
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: #585655; }
      #menu_page .menu_list .item ul li .price {
        font-size: 15px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: #585655; }
      #menu_page .menu_list .item ul li .desc {
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: left;
        color: #585655; }

  #contact_sec {
    padding-top: 25px; }
    #contact_sec .left p {
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: #585655; }
    #contact_sec .left span {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0;
      color: #9b9b9b; }
    #contact_sec .left .soc_ul li {
      margin-right: 6px; }
      #contact_sec .left .soc_ul li i {
        font-size: 16px !important; }
    #contact_sec .right label {
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: #585655;
      margin-top: 16px; }
    #contact_sec #map {
      margin-top: 20px;
      margin-bottom: 30px; }

  #thank {
    width: 90%;
    padding: 40px 30px !important; }
    #thank .close_thank {
      top: 10px;
      right: 10px; }
    #thank h1 {
      font-size: 18px !important; }
    #thank p {
      font-size: 14px !important;
      letter-spacing: 0.5px !important; }

  #services {
    margin: 16px 0 30px 0; }
    #services .serv_item {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      #services .serv_item .item {
        width: 100%;
        margin-bottom: 40px; }
        #services .serv_item .item .border_b {
          width: 100%;
          height: 1px;
          background-image: -webkit-gradient(linear, right top, left top, from(rgba(188, 148, 96, 0)), color-stop(51%, #bc9460), to(rgba(188, 148, 96, 0)));
          background-image: linear-gradient(to left, rgba(188, 148, 96, 0), #bc9460 51%, rgba(188, 148, 96, 0));
          margin: auto;
          margin-top: 20px; }
        #services .serv_item .item .photo {
          height: 140px; }
        #services .serv_item .item .desc .title h4 {
          font-size: 12px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 2px;
          text-align: center;
          color: #ab2a32; }
        #services .serv_item .item .desc .text p {
          font-size: 10px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: 0.7px;
          text-align: justify;
          color: #585655; }
        #services .serv_item .item .pop_menu {
          padding: 40px 20px 20px 20px; }
          #services .serv_item .item .pop_menu .title h1 {
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.4px;
            text-align: center;
            color: #bc9460; }
          #services .serv_item .item .pop_menu .title p {
            font-size: 10px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.7px;
            color: #636363; }
          #services .serv_item .item .pop_menu .desc_menu {
            margin-top: 10px; }
            #services .serv_item .item .pop_menu .desc_menu p {
              font-size: 10px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: 2;
              letter-spacing: 0.7px;
              text-align: center;
              color: #585655; }
          #services .serv_item .item .pop_menu .close_pop img {
            width: 20px; }
    #services .reserv_list {
      margin-top: 20px; }
      #services .reserv_list .title h4 {
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.7px;
        text-align: center;
        color: #bc9460; }
      #services .reserv_list .tab_con .ul {
        width: 100%;
        margin-top: 16px; }
        #services .reserv_list .tab_con .ul li a {
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          text-align: center;
          color: #585655; }
    #services .tab-content {
      width: 100% !important;
      margin-top: 16px !important; }
      #services .tab-content .tab_form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        #services .tab-content .tab_form .left {
          width: 100% !important; }
        #services .tab-content .tab_form .right {
          width: 100% !important; }
        #services .tab-content .tab_form label {
          font-size: 16px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;
          color: #585655; }
        #services .tab-content .tab_form input {
          margin: 16px 0; }
    #services .submit {
      margin-top: 10px; }
      #services .submit button {
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: #bc9460; }
        #services .submit button i {
          margin-left: 4px;
          font-size: 14px; }

  #index_content .desc h1 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #b3a08c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
  #index_content .desc p {
    font-size: 16px;
    width: 243px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  #index_content .desc a {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
    position: fixed;
    bottom: -90%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: block;
    width: 100%; }

  #about {
    margin-top: 16px;
    margin-bottom: 0; }
    #about .list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 26px; }
      #about .list .photo {
        width: 100%;
        margin-top: 16px;
        height: 300px; }
      #about .list .item {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        width: 100%; }
        #about .list .item .title h1 {
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.9px;
          color: #bc9460; }
        #about .list .item .desc {
          margin-top: 16px; }
          #about .list .item .desc p {
            font-size: 10px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 3;
            letter-spacing: 0.7px;
            text-align: justify;
            color: #585655; }

  #page_poster .back_img {
    height: 160px; }
    #page_poster .back_img .title p {
      padding: 12px !important;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      text-align: center;
      color: #ffffff;
      border: solid 1px #ac925d; }

  .inner_footer {
    padding: 20px 0px !important; }
    .inner_footer .item h4 {
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.2px;
      text-align: center;
      color: #f5ffdb; }
    .inner_footer .social {
      margin-top: 16px !important; }
      .inner_footer .social li {
        margin-right: 12px !important; }
        .inner_footer .social li i {
          font-size: 14px !important; }
    .inner_footer .sharks {
      margin-top: 16px !important; }
      .inner_footer .sharks a {
        font-size: 6px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        text-align: left;
        color: #f5ffdb; }

  #bambo {
    margin-top: 16px; }
    #bambo .catring_photo {
      height: 240px; }
    #bambo .tab_panel {
      margin-bottom: 16px; }
      #bambo .tab_panel .tab_floor_1,
      #bambo .tab_panel .tab_floor_2 {
        width: calc(50% - 5px); }
        #bambo .tab_panel .tab_floor_1 p,
        #bambo .tab_panel .tab_floor_2 p {
          font-size: 11px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.4px;
          text-align: center;
          color: #585655; }
    #bambo .mar_bot {
      margin-bottom: 10px; }
    #bambo .photo_list .photo_big {
      width: calc(50% - 5px);
      height: 240px; }
    #bambo .photo_list .left {
      width: calc(50% - 5px); }
      #bambo .photo_list .left .photo_left {
        margin-bottom: 10px;
        height: 115px; }
    #bambo .desc {
      margin-top: 16px;
      margin-bottom: 30px; }
      #bambo .desc p {
        font-size: 10px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 3;
        letter-spacing: 0.7px;
        text-align: justify;
        color: #585655; }

  #events {
    margin: 20px 0; }
    #events .event_item {
      margin-bottom: 16px;
      border-radius: 20px;
      background-color: #fafafa;
      -webkit-box-shadow: 0 0 10px 0 rgba(173, 173, 173, 0.5);
              box-shadow: 0 0 10px 0 rgba(173, 173, 173, 0.5); }
      #events .event_item .photo {
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        height: 124px; }
        #events .event_item .photo .date_blok {
          width: 30px; }
          #events .event_item .photo .date_blok ul li span {
            font-size: 8px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.2px;
            color: #ffffff; }
          #events .event_item .photo .date_blok ul li:nth-child(2) {
            display: none; }
          #events .event_item .photo .date_blok ul li:nth-child(3) {
            bottom: 30px; }
      #events .event_item .desc {
        padding: 6px 8px 4px 8px; }
        #events .event_item .desc .title p {
          font-size: 10px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.3px;
          text-align: center;
          color: #585655; }
        #events .event_item .desc .text {
          margin-top: 6px; }
          #events .event_item .desc .text p {
            font-size: 7px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            text-align: center;
            color: #585655; }
        #events .event_item .desc .date {
          margin-top: 6px; }
          #events .event_item .desc .date p {
            font-size: 8px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.2px;
            color: #585655; }
        #events .event_item .desc .view {
          margin-top: 10px; }
          #events .event_item .desc .view a {
            font-size: 8px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.3px;
            color: #ab2a32; }
      #events .event_item .popup {
        padding: 30px 16px 14px 16px; }
        #events .event_item .popup .img {
          height: 120px; }
        #events .event_item .popup .title {
          margin-top: 10px; }
          #events .event_item .popup .title h4 {
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.4px;
            text-align: center;
            color: #bc9460; }
        #events .event_item .popup .date_time {
          margin-top: 10px; }
          #events .event_item .popup .date_time ul li {
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.9px;
            color: #585655; }
        #events .event_item .popup .border_bot {
          width: 16px;
          margin-top: 10px; }
        #events .event_item .popup .desc {
          margin-top: 12px; }
          #events .event_item .popup .desc p {
            font-size: 10px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: 0.7px;
            text-align: justify;
            color: #585655; } }

/*# sourceMappingURL=style.css.map */